<!DOCTYPE html>
<html>
<head>
<style>
ul {
    
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#ecf0f1;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:  rgb(58, 57, 57);
}


</style>
</head>
<body>

<ul>
  <li ><a href="#home">ADMAS UNIVERSITY</a></li>
  <li style="float: right"><a href="#news">Log Out</a></li>
  <li style="float: right"><a  href="#about">About us</a></li>
  <li style="float: right"><a href="#news">Calender</a></li>
  <li style="float: right"><a href="#news">News Upload</a></li>
  <li style="float: right"><a href="#news">Home</a></li>
</ul>

</body>
</html>
